<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ajout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Ajout élève</title>
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span class="fa fa-user-o"> </span> Breukh'S school</h2>
        </div>
    
        <div class="sidebar-menu">
            <ul>
                <li><a href="#" class="active"></span><span>Accueil</span></a></li>
                <li><a href="#"><span>Ajouter élève</span></a></li>
                <li><a href="#"><span>Supprimer élève</span></a></li>
                <li><a href="#"><span>Modifier élève</span></a></li>
               
               
            </ul>
        </div>
        
    </div>
    <div class="content">
        <header>
            <p><label for="menu"><span class="fa fa-bars"></span></label><span class="accueil">Accueil</span></p>
        
            <div class="search-wrapp">
                <span class="fa fa-search"></span>
                <input type="search" name="" placeholder="recherche">
            </div>
        
            <div id="dropdown" class="user-wrapp">
                <div>
                    <h4>Alassane</h4>
                    <small>Admin</small>
                </div>
                <div class="dropdown-content">
                    <p>Profil</p>
                    <p>Deconnexion</p>
                </div>
            </div>
        </header>
        <main>
            <div class="cards">
                 <div class="card-single">
                     <div>
                         <h2>200</h2>
                         <small>Eleves</small>
                     </div>
                    
                 </div>
            
                 <div class="card-single">
                     <div>
                         <h2>10</h2>
                         <small>Classes</small>
                     </div>
                 </div>
            
            
                 <div class="card-single">
                     <div>
                         <h2>70</h2>
                         <small>Modules</small>
                     </div>
                    
                 </div>
            
                 <div class="card-single">
                     <div>
                     <h2>15</h2>
                     <small>Professeurs</small>
                     </div>
                     <div>
                     <span class="fa fa-group"></span>
                 </div>
            
             </div>
            </div>
            <div class="flutter">
                <div class="modal-add-client">
                    <div class="modal-header">Ajouter un éleve</div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="tel">Nom</label>
                            <input type="text" id="nom" placeholder="Nom" class="from-control" required>
                        </div>
                        <div class="form-group">
                            <label for="tel">Prénom</label>
                            <input type="text" id="prenom" placeholder="Prénom" class="from-control" required>
                        </div>
                        <div class="form-group">
                            <label for="tel">Date de naissance</label>
                            <input type="text" id="mail" placeholder="Date de naissance" class="from-control" required>
                        </div>
                        <div class="form-group">
                            <label for="tel">Classe</label>
                            <input type="text" id="new-tel" placeholder="classe" class="from-control"required>
                        </div>
                        <div class="form-group">
                            <label for="tel">Niveau</label>
                            <input type="text" id="tof" placeholder="Niveau" class="from-control" required>
                        </div>
                        <div class="form-group">
                            <label for="tel">Type d'élève</label>
                            <input type="text" id="tof" placeholder="type d'élève" class="from-control" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="http://127.0.0.1:5500/views/accueil/accueil.html#"><button class="save">Enregistrer</button></a> 
                        <button class="cancel">Annuler</button>
                    </div>
                </div>
            </div>
          
</body>
</html>