<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>projetmvc1</title>
</head>

<body>
    <div class="container">
        <div class="left-container"></div>
        <div class="right-container"></div>
    </div>
    <div class="login-interface">
        <div class="deep-blue"></div>
        <div>
            <div class="logo">
                <img src="../views/images/chapeau.png" alt="">
            </div>
            <div class="connection-text">
                  <h2>Bienvenue !</h2>
                  <div class="paragraph"><p class="identity">Identifiez-vous,</p>pour accéder à votre espace de travail</div>
                <div class="email">
                    Adresse Mail
                    <input type="text" placeholder="....@gmail.com">
                </div>
                <div class="password">
                    Mot de passe
                    <input type="text" placeholder="...................">
                </div>
                <div class="submit">
                    <a href="http://127.0.0.1:5500/views/accueil/accueil.html#"><button>Se connecter</button></a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>